{%extends "base.html"%}

{%block title%}TL;DR Home{% endblock %}

{%block body%}
<div class="ui centered grid container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="row">
    <div class="centered column">
      <div class="ui huge header">
        <div class="ui centered grid">
          <div class="ui center aligned column">
            Find TL;DR for
            <div class="ui transparent underline input">
              <div class="ui search">
                <div class="ui icon input">
                  <input class="prompt center" placeholder="Search..." type="text">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            ?
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui blurring">
    <div class="ui inverted dimmer"></div>

    <div class="row">
      <div class="ui centered grid container column">
        <div class="row">
          <div class="ui centered column segment" id="summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui centered grid container column">
        <div class="row">
          <div class="ui centered column segment">
            <div id="wordCloud"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui large header" id="linkHere"></div>
    </div>
  </div>
</div>
{%endblock%}
